- content_for :title, '受講生'

.row
  - @year_to_students.each do |year, students|
    %section.col-md-6.col-lg-4.mb-5
      %header
        %h2= year

      .list-group
        = render partial: 'students/student', collection: students, cached: true
