- content_for :title, '受講生一覧'

.row
  - @year_to_students.each do |year, students|
    %section.col-sm-6.col-lg-4.mb-3
      %header.mb-3
        %h2= year

      .list-group
        = render partial: 'students/student', collection: students, cached: true
