= link_to work.original_url, class: 'list-group-item list-group-item-action' do
  .d-flex.justify-content-between.align-items-start
    %h5= work.title.presence || '（タイトルなし）'
    - if work.score > 0
      %span.badge.badge-info.badge-pill= work.score
  = yield
