- content_for :title, '課題一覧'

- @subjects.group_by(&:term_id).each do |year, subjects|
  %section.mb-5
    %header
      %h2= year

    .list-group
      = render partial: 'subjects/subject', collection: subjects, cached: true
