@import "bootstrap";

.link:hover {
  text-decoration: underline;
}

.novel {
  font-family: "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ 明朝", "MS Mincho", serif;
  line-height: 1.8;

  @include media-breakpoint-up(sm) {
    font-size: 1.25rem;
  }

  &.term2018 {
    text-indent: 1em;
  }

  &.blockquote {
    font-size: 1rem;
  }

  .boten {
    text-emphasis: filled dot;
    -webkit-text-emphasis: filled dot;
  }
}
