@import "bootstrap";

.link:hover {
  text-decoration: underline;
}

ul.list-inline.with-comma {
  li.list-inline-item {
    margin-right: 0;

    &:not(:last-child):after {
      content: ",";
    }
  }
}

.novel {
  font-family: 游明朝, YuMincho, "ヒラギノ明朝 Pr6N", "Hiragino Mincho Pr6N", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 StdN", "Hiragino Mincho StdN", HiraMinProN-W3, HGS明朝B, HG明朝B, serif;
  line-height: 1.8;

  @include media-breakpoint-up(sm) {
    font-size: $lead-font-size;
  }

  &.term-2018 {
    text-indent: 1em;
  }

  &.blockquote {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }

  .boten {
    text-emphasis: filled dot;
    -webkit-text-emphasis: filled dot;
  }
}
