= link_to synopsis_path(synopsis), class: 'list-group-item list-group-item-action' do
  .d-flex.justify-content-between.align-items-start
    %h5= synopsis.title.presence || '(タイトルなし）'
    - if synopsis.selected
      %span.badge.badge-secondary 選出
  %blockquote.blockquote.novel
    %p= truncate(synopsis.content, length: 80, separator: '。')
  = yield
